###
#
# Copyright © 2018-COPYYEAR Crunchy Data Solutions, Inc. All Rights Reserved.
#
###

# This file is managed by Crunchy Postgres {{ crunchy_facts['ha_version'] }}

# This configuration of pgBackRest was for running in {{ backrest_role }} mode

